<% if user_signed_in? %>
<div class="panel panel-default post-form-panel">
  <div class="panel-body row">
    <div class="col-sm-1">
      <img src="/logo231.png" class="rounded-img" height="35px" width="35px"></img>
    </div>
    <div class="col-sm-11">
      <%= form_for(@new_category) do |f| %>
      <% if @new_category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@new_category.errors.count, "error") %> prohibited this category from being saved:</h2>
        <ul>
          <% @new_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="field" style="margin-left: 10px;">
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: 'Name ex: Sports' %>
        <span type="button" class="btn btn-submit" style="float: right; margin-top: 3px;"><%= f.submit "Add Category", class: "btn btn-primary" %></span>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
